* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat";
  font-size: 1rem;
  margin: 0;
}

a {
  text-decoration: none;
}

h1 {
  font-size: 2.3rem;
  font-weight: 800;
}

p {
  font-size: 1.1rem;
  font-weight: 200;
  line-height: 1.4;
}

/* Utilities */
.btn {
  display: block;
  background-color: slateblue;
  border: 1px solid transparent;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  outline: none;
  padding: 10px 15px;
}

.btn:hover {
  background-color: #000000bf;
  box-shadow: 0 0 0 1px #000000bf;
  transition: 0.3s ease-in-out;
}

.btn-md {
  padding: 10px 40px;
}

.flex {
  display: flex;
}

.label-flex {
  justify-content: space-between;
}

.m-auto {
  margin: auto;
}

.min-h-100vh {
  min-height: 100vh;
}

.mb-0 {
  margin-bottom: 0;
}

.mt-10 {
  margin-top: 10px;
}

.mt-30 {
  margin-top: 30px !important;
}

.ml-auto {
  margin-left: auto;
}

.pl-15 {
  padding-left: 15px;
}

.pr-15 {
  padding-right: 15px;
}

.w-50 {
  width: 50%;
}

.error-banner {
  background-color: red;
  border-radius: 10px;
  box-shadow: 1px 5px 20px grey;
  color: #fff;
  padding: 15px 40px;
  position: fixed;
  right: -500px;
  top: 10px;
  z-index: 20;
  transition: right 0.3s ease-in;
}

.error-banner.show {
  display: block;
  cursor: pointer;
  right: 10px;
  transition: right 0.3s ease-out;
}

.position {
  position: relative;
}

/* Thank you page */
.bg {
  background: linear-gradient(
      rgba(213, 209, 233, 0.7) 0 10%,
      rgba(255, 255, 255, 1)
    ),
    url("../assets/butterflies.jpg");
  background-attachment: fixed;
  background-position: center;
  background-size: 300px;
}

.card {
  background: linear-gradient(
    rgba(255, 255, 255, 1),
    rgba(255, 255, 255, 0.7) 0 5%
  );
  border-radius: 10px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
  margin: 200px auto;
  padding: 40px;
  width: 40%;
}

.center {
  text-align: center;
}

.checkmark {
  border: 1px solid limegreen;
  border-radius: 50%;
  display: inline-block;
  color: rgb(138, 236, 138);
  font-size: 2rem;
  margin-bottom: 5px;
  height: 60px;
  padding: 5px;
  width: 60px;
}

/* Main */
.budget {
  margin: 15px 0;
}

.budget input[type="radio"] {
  margin-right: 10px;
  height: 15px;
  width: 15px;
}

.contact-form {
  padding: 5% 8% 10% 3%;
}

.contact-form p {
  color: #737171;
  margin-bottom: 20px;
}

.contact-form h1 {
  color: #0c0909;
  margin-bottom: 10px;
}

.contact-img {
  height: 100%;
  object-fit: cover;
  width: 100%;
}

.contact-form .form-control {
  margin: 15px 0;
}

.control-error {
  /* border: 1px solid rgba(248, 81, 81, 0.795)!important; */
  box-shadow: 0 0 1px 0 rgba(248, 81, 81, 0.795);
}

.form-control input[type="text"],
.form-control input[type="email"],
.form-control textarea {
  border: 1px solid #e1e1e1;
  border-radius: 5px;
  box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.3);
  font-weight: 200;
  margin: 5px 0;
  padding: 10px;
  width: 100%;
}

.form-control input:focus,
textarea:focus {
  outline: none;
}

label {
  color: #363535;
  font-family: "Comfortaa";
  font-weight: bold;
}

.form-control .muted {
  color: #d1d5da;
  font-family: "Comfortaa";
  font-size: 15px;
  text-align: right;
}

/* Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {
  /* Utilities */
  .container.flex {
    flex-direction: column-reverse;
    flex-wrap: wrap;
  }

  .col-flex {
    flex-direction: column;
  }

  .pl-15 {
    padding-left: 0;
  }

  .pr-15 {
    padding-right: 0;
  }

  .w-100 {
    width: 100%;
  }
}
