* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat";
  font-size: 1em;
  margin: 0;
}

h1 {
  font-size: 3rem;
  font-weight: 800;
}

p {
  font-size: 1.5rem;
  font-weight: 200;
  line-height: 1.4;
}

/* Utilities */

.flex {
  display: flex;
  flex-direction: row;
}
form .flex .form-control {
  margin-bottom: 0;
}

.form-control .flex {
  justify-content: space-between;
}

.pl-15 {
  padding-left: 15px;
}

.pr-15 {
  padding-right: 15px;
}

.w-50 {
  width: 50%;
}

/* Main */
.btn {
  display: block;
  background-color: slateblue;
  border: 1px solid transparent;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  margin: 10px;
  outline: none;
  padding: 10px 15px;
  position: absolute;
  right: 10%;
}

.btn:hover {
  background-color: #000000bf;
  box-shadow: 0 0 0 1px #000000bf;
  transition: 0.3s ease-in-out;
}

.budget {
  margin: 15px 0;
}

.contact-form {
  padding: 3% 6% 10% 3%;
  position: relative;
}

.contact-form p {
  color: #737171;
  margin-bottom: 20px;
}

.contact-form h1 {
  color: #0c0909;
  margin-bottom: 10px;
}

.contact-img {
  height: 100%;
  object-fit: cover;
  width: 100%;
}

.contact-form .form-control {
  margin: 15px 0;
}

.form-control input[type="text"],
.form-control input[type="email"],
.form-control textarea {
  border: 1px solid #e1e1e1;
  border-radius: 5px;
  box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.3);
  font-weight: 200;
  margin: 5px 0;
  padding: 10px;
  width: 100%;
}

.form-control input:focus,
textarea:focus {
  outline: none;
}

label {
  color: #363535;
  font-family: "Comfortaa";
   padding-bottom: 10px;
}

.form-control .muted {
  color: #d1d5da;
  font-family: "Comfortaa";
  font-size: medium;
  text-align: right;
}

/* Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {
    /* Utilities */
  .flex {
    flex-direction: column-reverse;
    flex-wrap: wrap;
  }

  form .flex {
    flex-direction: column;
  }

  .pl-15 {
    padding-left: 0;
  }

  .pr-15 {
    padding-right: 0;
  }

  .w-100 {
    width: 100%;
  }

  .contact-img {
    height: 100%;
    object-fit: cover;
    width: 100%;
  }

  .btn {
    margin: 0;
    bottom: 0.5%;
    right: 6%;
  }
}

/* X-Small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
   /* Utilities */
  .flex {
    flex-direction: column-reverse;
    flex-wrap: wrap;
  }

  form .flex {
    flex-direction: column;
  }

  .pl-15 {
    padding-left: 0;
  }

  .pr-15 {
    padding-right: 0;
  }

  .w-100 {
    width: 100%;
  }

  .contact-img {
    height: 100%;
    object-fit: cover;
    width: 100%;
  }

  .btn {
    margin: 0;
    bottom: 0.5%;
    right: 6%;
  }
}
